{% extends "../inc/base.html" %}
{% block style %}
<link href="/static/assets/css/layout-question.css" rel="stylesheet" type="text/css" />
<style type="text/css">
    .tp-bullets.simplebullets.round {
        bottom:130px !important;
    }
    #destination ul#destination-ul li {
        margin-bottom: 10px !important;
    }
    #studytour ul#studytour-ul li {
        margin-bottom: 20px !important;
    }
    #community ul#community-ul li {
        margin-bottom: 12px !important;
    }
    section.alternate {
        border-bottom: none;
    }
    section.alternate .item-box {
        width: 100%;
        height: 100%;
    }
    section#destination {
        background-color: transparent;
    }
    section#studytour {
        background-color: rgba(239,247,249,0.9);
    }
    section#community {
        background-color: transparent;
    }
    .item-box figure {
        height: 100%;
    }
    .thumbnail {
        padding: 0px;
        border: none;
        cursor: pointer;
        background: transparent;
    }
    img.img-responsive {
        width: 100%;
        height: 100%;
    }
    .row {
        margin-left: 0px;
        margin-right: 0px;
    }
    #destination ul#destination-ul .destination-item-1 {
        width: 27.4%;
        padding-left: 0px;
        padding-right: 5px;
        height: 392px;
    }
    #destination ul#destination-ul .destination-item-2 {
        width: 45.2%;
        padding-left: 5px;
        padding-right: 5px;
        height: 392px;
    }
    #destination ul#destination-ul .destination-item-3 {
        width: 27.4%;
        padding-left: 5px;
        padding-right: 0px;
        height: 392px;
    }
    #destination ul#destination-ul .destination-item-4 {
        width: 38.8%;
        padding-left: 0px;
        padding-right: 5px;
        height: 273px;
    }
    #destination ul#destination-ul .destination-item-5 {
        width: 22.4%;
        padding-left: 5px;
        padding-right: 5px;
        height: 273px;
    }
    #destination ul#destination-ul .destination-item-6 {
        width: 38.8%;
        padding-left: 5px;
        padding-right: 0px;
        height: 273px;
    }
    .portfolio .item-box-overlay-title h4 {
        font-size: 28px;
    }
    .portfolio header {
        height: 60px;
    }
    .portfolio header a {
    	display:block;
        margin-top: 20px;
        float: right;
        padding:0 10px 0 10px;
    }
    .portfolio header a.country-list {
        display:block;
        margin-top: 0;
        /*float: left;*/
        padding:0 10px 0 10px;
    }
    #studytour ul#studytour-ul .studytour-item {
        width: 25%;
        padding-left: 10px;
        padding-right: 10px;
        height: 396px;
    }
    #studytour ul#studytour-ul .studytour-item-2 {
        width: 25.71%;
        padding-left: 10px;
        padding-right: 10px;
        height: 332px;
    }
    #studytour ul#studytour-ul .studytour-item-3 {
       width: 25.71%;
        padding-left: 0px;
        padding-right: 28px;
        height: 332px;
    }
    #studytour ul#studytour-ul .studytour-item-4 {
        width: 25.71%;
        padding-left: 0px;
        padding-right: 0px;
        height: 332px;
    }
    #community ul#community-ul .community-item-1 {
        padding-left: 0px;
        padding-right: 6px;
        height: 434px;
    }
    #community ul#community-ul .community-item-2 {
        padding-left: 6px;
        padding-right: 6px;
        height: 434px;
    }
    #community ul#community-ul .community-item-3 {
        padding-left: 6px;
        padding-right: 0px;
        height: 434px;
    }
    #community ul#community-ul .community-item-4 {
        padding-left: 0px;
        padding-right: 0px;
        height: 514px;
    }
    .clear:after{
    	content:"";
    	display:table;;
    	clear:both;
    }
    .heading-title a{
    	font-size:13.5px;
    	color:#565656
    }
    .heading-title a:hover{
    	color: #1EB6C1 !important;
    }
    .community-ul li a{
    	color:#403d39;
    	font-size:15.5px; 
    }
    .community-ul li{
    	padding:0;
    }
    .community-ul>li>div{
    	background:transparent;
    }
    .title_country,
    .title_country a{
    	color:#403d39;
    	font-size:18.5px;
    	margin-bottom:25px;
    }
    .country-box>div:nth-child(even){
    	background:rgba(239,247,249,0.9);
    }
    #destination{
    	padding-bottom:75px;
    }
    #studytour{
    	padding-bottom:55px;
    }
    .community-ul{
    	padding:30px 0 40px 0;
    }
    .show-one{
        display:block;
        white-space:nowrap; 
        overflow:hidden; 
        text-overflow:ellipsis;
    }
    .show-two{
        overflow : hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
</style>
{% endblock %}
{% block content %}
<!-- SLIDER -->
<section id="slider" class="" style="height: 600px;background-position: center center">
    <span class="overlay dark-2"><!-- dark overlay [0 to 9 opacity] --></span>

    <div class="display-table">
        <div class="display-table-cell vertical-align-middle">

            <!-- REVOLUTION SLIDER -->
            <div class="slider fullwidthbanner-container roundedcorners margin-bottom-30">
                <div class="fullwidthbanner" data-height="600" data-shadow="3" data-navigationStyle="">
                    <ul class="">
                        <!-- SLIDE  -->
                        <li data-transition="fade" data-slotamount="7" data-masterspeed="1000"  data-delay="5000" data-saveperformance="off">
                            <img src="/static/assets/images/slider_pic1.jpg" data-lazyload="/static/assets/images/slider_pic1.jpg" alt="" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat" />

                        </li>
                        <li data-transition="fade" data-slotamount="7" data-masterspeed="1000"  data-delay="5000" data-saveperformance="off" >
                            <img src="/static/assets/images/slider_pic2.jpg" data-lazyload="/static/assets/images/slider_pic2.jpg" alt="" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat" />

                        </li>
                        <li data-transition="fade" data-slotamount="7" data-masterspeed="1000"  data-delay="5000" data-saveperformance="off" >
                            <img src="/static/assets/images/slider_pic3.jpg" data-lazyload="/static/assets/images/slider_pic3.jpg" alt="" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat" />

                        </li>
                        <li data-transition="fade" data-slotamount="7" data-masterspeed="1000"  data-delay="5000" data-saveperformance="off" >
                            <img src="/static/assets/images/slider_pic4.jpg" data-lazyload="/static/assets/images/slider_pic4.jpg" alt="" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat" />

                        </li>
                    </ul>
                    <div class="tp-bannertimer"><!-- progress bar --></div>
                </div>
            </div>
        </div>
    </div>

    <div class="home-search-bar" style="position: absolute; left: 50%; bottom: 40px; height: 50px; width: 414px; z-index: 100; margin-left: -207px;">
        <!-- INLINE SEARCH -->
            <div class="inline-search clearfix" style="border: 10px solid rgba(26,21,31,0.5);">
                <form action="/search" method="get" class="widget_search">
                    <input type="search" style="background: #fff;color: #111;" placeholder="想带宝宝去哪？" name="q" {% if queryword %} value={{queryword}} {%endif%}class="serch-input" style="color: black;">
                    <button type="submit" style="background-color:#1EB6C1 ">
                        <i class="fa fa-search" style="color: #fff;"></i>
                    </button>
                </form>
            </div>
            <!-- /INLINE SEARCH -->
    </div>

</section>
<!-- /SLIDER -->

<!-- -->
<section class="alternate" id="destination">
    <div class="container portfolio">
        <header class="section-header margin-bottom-20">
            <div class="heading-title">
                <h3 style="font-size:34px;color:#62605e">热门</h3>
                <!--<a href="###" id="destination-change" style="font-size:13.5px;color:#565656">换一换 <img src="/static/assets/images/change.png"></a>-->
            </div>
        </header>
        <div  class=" portfolio-title-over">
            <div class="row mix-grid">
                <ul id="destination-ul" style="padding-left: 0px;">
                    {% hotrecommend data = "list", limit= "6", issub=1, ischild=1, page=0 %}
                    {%set i = 1%}
                    {% for v in list %}

                    <li class="mix development col-xs-3 destination-item-{{i}}"><!-- item -->

                        <div class="item-box thumbnail">
                        <a href="{{v.name|get_url(v.id)}}"  title="{{v.title}}">
                            <figure>
                                <span class="item-hover">
                                    <span class="overlay dark-5"></span>
                                    {#
                                    <span class="inner">

                                        <!-- lightbox -->
                                        <a class="ico-rounded lightbox" href="/static/dome/s_wenzhang.jpg" data-plugin-options='{"type":"image"}'>
                                            <span class="glyphicon glyphicon-qrcode size-20"></span>
                                        </a>

                                        <!-- details -->
                                        <a class="ico-rounded" href="/wenzhangceshi" target="_blank">
                                            <span class="glyphicon glyphicon-option-horizontal size-20"></span>
                                        </a>

                                    </span>
                                    #}
                                </span>

                                <!-- overlay title -->
                                <div class="item-box-overlay-title" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
                                    <h4 class="nomargin">{{v.title}}</h4>
                                </div><!-- /overlay title -->
                                {% if i == 1 or i == 3 %}
                                <img class="img-responsive" src="{{v.cover_id|get_pic('m=1,w=264,h=392')}}"  alt="">
                                {% elif i == 2 %}
                                <img class="img-responsive" src="{{v.cover_id|get_pic('m=1,w=434,h=392')}}"  alt="">
                                {% elif i == 4 or i == 6 %}
                                <img class="img-responsive" src="{{v.cover_id|get_pic('m=1,w=375,h=273')}}"  alt="">
                                {% elif i == 5 %}
                                <img class="img-responsive" src="{{v.cover_id|get_pic('m=1,w=212,h=273')}}"  alt="">
                                {% endif %}
                            </figure>
                        </a>
                        </div>

                    </li><!-- /item -->
                    {% set i = i + 1 %}
                    {% endfor %}

                </ul>

            </div>
        </div>
        <!--
        <div class="more-info text-center margin-top-20">
            <a href="/youxue{{http.config('view.file_ext')}}">点击查看更多》</a>
        </div>
        -->

    </div>
</section>
<!-- / -->

<!-- -->
<section class="alternate" id="studytour">
    <div class="container portfolio">
        <header class="section-header margin-bottom-20">
            <div class="heading-title">
                <h3 style="font-size:34px;color:#62605e;background:transparent">热门产品</h3>
                <!--<a href="" id="studytour-change">换一换 <img src="/static/assets/images/change.png"></a>-->
            </div>
        </header>
        <div  class=" portfolio-title-over">
            <div class="row mix-grid">
                <ul id="studytour-ul" style="padding-left: 0px;">
                    {% topic data = "list", limit= "8", cid=130, issub=1, ischild=1, type="level", page=0 %}
                    {%set i = 1%}
                    {% for v in list %}

                    <li class="mix development col-xs-3 studytour-item"><!-- item -->

                        <div class="item-box thumbnail">
                        <a href="{{v.name|get_url(v.id)}}" title="{{v.title}}">
                            <figure style="height: 332px;">
                                <span class="item-hover">
                                    <span class="overlay dark-5"></span>
                                    {#
                                    <span class="inner">

                                        <!-- lightbox -->
                                        <a class="ico-rounded lightbox" href="/static/dome/s_wenzhang.jpg" data-plugin-options='{"type":"image"}'>
                                            <span class="glyphicon glyphicon-qrcode size-20"></span>
                                        </a>

                                        <!-- details -->
                                        <a class="ico-rounded" href="/wenzhangceshi" target="_blank">
                                            <span class="glyphicon glyphicon-option-horizontal size-20"></span>
                                        </a>

                                    </span>
                                    #}
                                </span>

                                

                            
                                <img class="img-responsive" src="{{v.cover_id|get_pic('m=1,w=226,h=332')}}"  alt="">
                           
                            </figure>
                            <!-- overlay title -->
                                <div class="item-box-overlay-title text-center" style="height: 64px;background-color:#fff ">
                                    <h4 class="nomargin show-two" style="font-size: 14px; color: #414141; text-overflow:ellipsis;">{{v.title}}</h4>
                                </div><!-- /overlay title -->
                        </a>
                        </div>

                    </li><!-- /item -->
                    {% set i = i + 1 %}
                    {% endfor %}

                </ul>

            </div>
        </div>
        <!--
        <div class="more-info text-center margin-top-10">
            <a href="/youxue{{http.config('view.file_ext')}}">点击查看更多》</a>
        </div>
        -->
    </div>
</section>
<!-- / -->

<!-- -->
<section class="alternate" id="community">
    <div class="portfolio">
    <div class="container">
    	{% topic data = "list", limit= "200", cid=135, issub=1, isstu=1, pid=0, type="level", page=0 %}
        <header class="section-header margin-bottom-20 header-country">
            <div class="heading-title">
                <h3>国家列表</h3>
                <a href="" id="community-change320" class="country-list">南极洲</a>
                <a href="" id="community-change326" class="country-list">大洋洲</a>
                <a href="" id="community-change325" class="country-list">南美</a>
                <a href="" id="community-change324" class="country-list">北美</a>
                <a href="" id="community-change323" class="country-list">非洲</a>
                <a href="" id="community-change321" class="country-list">欧洲</a>
                <a href="" id="community-change322" class="country-list">亚洲</a>
               <a href="" id="all" class="country-list"> 全部 </a>
            </div>
        </header>
    </div>
        <div  class=" portfolio-title-over">
            <div class="row mix-grid country-box">
            	{% for v in list %}
                <div id="community-ul{{v.id}}" class="community-ul">
                <div class="container" >
                <ul style="padding-left: 0px;" class="clear">
                	<div class="title_country">
						<a href="/search.html?q=&value=youxue-0-0-17-tourdest_{{v.place_id}}|tourfeature_0|tourtype_0|tourmonth_0">
							{{v.title}} {{v.name_en}}
                            
						</a>
                	</div>
                    {% topic data = "list", limit= "200", cid=135, isstu=1, pid=v.id,type="none",page=0 %}
                    {% for v in list %}
                    <li class="mix development col-xs-6 col-sm-4 destination-item-{{i}}"><!-- item -->
          
                        <div class="item-box thumbnail">
                        <a href="/search.html?q=&value=youxue-0-0-17-tourdest_{{v.place_id}}|tourfeature_0|tourtype_0|tourmonth_0">
                            {{v.title}} {#
                            {{v.name_en}}
                            #}
                        </a>
                        </div>
                    </li><!-- /item -->
                    {% endfor %}

                </ul>
                </div>
                </div>
                {% endfor %}

            </div>
        </div>
        <!--
        <div class="more-info text-center margin-top-10">
            <a href="/question">点击查看更多》</a>
        </div>-->

    </div>
</section>
<!-- / -->
{#
<section>
    <div class="container">

        <div class="row">

            <!-- RIGHT -->
            <div class="col-md-9 col-sm-9">
                <h3 class="page-header weight-300 margin-top-0 margin-bottom-0">
                    <a href="/question.html" data-toggle="tooltip" title="" data-original-title="互帮互助有问题必达"><i class="fa fa-plus-square-o"></i></a>
                    社区 <strong>问答</strong>
                </h3>
                <div class="timeline">
                    <div class="timeline-hline"><!-- horizontal line cache='1000'--></div>
                    {%model data="list",table="question",where='{"has_img":1}',order="update_time DESC",limit="10"%}
                    {% for val in list %}
                    {% set categoryname = val.category_id|get_cate %}
                    {% set imgs= val.detail|img_text_view(200,120)%}
                    <!-- POST ITEM -->
                    <div class="blog-post-item blog-post-item-inverse padding-top-20 padding-bottom-20 margin-bottom-0 clearfix">
                        <div class="timeline-entry" ><!-- .rounded = entry -->
                            <a href="#"><img src="/uc/index/avatar/uid/{{val.uid}}" style="width: 58px;height: 58px; margin-top: -10px"></a>
                            <div class="timeline-vline"><!-- vertical line --></div>
                        </div>
                        <!-- IMAGE -->
                        {% if imgs|length==1 %}
                        <figure class="blog-item-small-image margin-bottom-0">
                            <img class="img-responsive" src="{{imgs[0]}}" alt="">
                        </figure>
                        {% endif %}
                        <div class="blog-item-small-content">
                            <h2><a href="/mod/question/{{val.id}}{{http.config('view.file_ext')}}" title="{{val.title}}">{{val.title}}</a></h2>
                            <ul class="blog-post-info list-inline padding-bottom-10">
                                <li>

                                    <a class="" href="{{categoryname.url}}">
                                        <span class="label label-light">{{categoryname.name}}</span>
                                    </a>
                                </li>
                                <li>{%if val.answer_users>0%}
                                    <a href="#">
                                        <span class="font-lato">{{val.answer_users|get_nickname}}</span>
                                    </a>
                                    <span class="font-lato"> 回复了问题</span>
                                    {%else%}
                                    <a href="#">
                                        <span class="font-lato">{{val.uid|get_nickname}}</span>
                                    </a>
                                    <span class="font-lato"> 发起了问题</span>
                                    {%endif%}
                                </li>
                                <li>
                                <span class="font-lato">
                                {{val.focus_count}} 人关注
                                    </span>
                                </li>
                                <li>
                                    <span class="font-lato">{{val.answer_count}} 个回复</span>

                                </li>
                                <li>
                                    <span class="font-lato">{{val.view}} 次浏览</span>
                                </li>
                                <li>
                                    <span class="font-lato"> {{val.update_time|moment}}</span>
                                </li>

                            </ul>
                            {% if imgs|length>1 %}
                            <div class="row margin-bottom-10">
                                {%set i = 0%}
                                {%for img in imgs%}
                                {%if i< 4 %}
                                <div class="col-md-3"><img class="img-responsive" src="{{img}}" alt=""></div>
                                {%endif%}
                                {%set i=i+1%}
                                {%endfor%}
                            </div>
                            {%endif%}
                            <p>{{val.detail|delhtmltags|truncate(90, true, "...")|safe}}</p>
                        </div>

                    </div>
                    <!-- /POST ITEM -->
                    {%endfor%}

                </div>

                <!-- PAGINATION -->
                <a class="btn btn-featured btn-default btn-inverse" href="/question.html" >
                    <span>今天，你遇到了什么问题呢？进入社区寻求答案！</span>
                    <i class="et-happy"></i>
                </a>
                <!-- /PAGINATION -->

            </div>
            <!-- LEFT -->
            <div class="col-md-3 col-sm-3">

                {% if controller.is_login %}
                <div class="alert alert-info margin-bottom-20"><!-- INFO -->
                    今天，你遇到了什么问题呢？
                    <a href="/mod/question/sys/add/cid/123" class="btn btn-primary btn-3d btn-block margin-top-10">提问</a>
                </div>
                {%else%}
                <div class="alert alert-info margin-bottom-20"><!-- INFO -->
                    你好! 你还没有登录，请先登录.
                    <a class="btn btn-block btn-social btn-dropbox margin-top-10  " href="/uc/public/login">
                        <i class="fa fa-sign-in"></i> 登录{{controller.setup.WEB_SITE_TITLE}}
                    </a>
                </div>
                {%endif%}

                <div class="box-inner nopadding  margin-bottom-20">
                    <h3>
                        <a class="pull-right size-11 text-warning" href="/topic">更多</a>
                        热门话题
                    </h3>
                    <div class="" >
                        {% keywords data ="topic",type="hot",limit="5" %}
                        {%for k in topic%}
                        <div class="clearfix margin-bottom-10"><!-- discussion item -->
                            {%if k.pic==0%}
                            <i class="ico-light ico-60 ico-hover et-chat pull-left margin-bottom-0 margin-top-0" ></i>
                            {%else%}
                            <img class="thumbnail pull-left" src="/static/assets/images/demo/people/300x300/4-min.jpg" width="60" height="60" alt="" />
                            {%endif%}
                            <h4 class=" nomargin noborder nopadding bold"><a class="tag " href="{{k.url}}">
                                <span class="txt">{{k.keyname}}</span>
                                <span class="num"><i class="fa fa-fire"></i></span>
                            </a>
                            </h4>
                            <span class="size-13 text-muted">
                                {{k.videonum}} 个主题, {{k.focus_count}} 人关注
                                                </span>
                        </div><!-- /discussion item -->
                        {%endfor%}


                    </div>
                </div>


                {%model data="data",table="question_user",cache='1000',order="question_count DESC",alias="a",limit="10",join='{"member": {"join": "left","as":"b","on": ["a.uid", "b.id"]}}'%}
                {%if data.length>0%}
                <div class="box-inner nopadding  margin-bottom-20">
                    <h3>
                        <a class="pull-right size-11 text-warning" href="#">更多</a>
                        热门用户
                    </h3>
                    <div class="" >
                        {%for user in data%}
                        <div class="clearfix margin-bottom-10"><!-- squared item -->
                            <img class="thumbnail pull-left rounded" src="/uc/index/avatar/uid/{{user.uid}}" width="40" height="40" alt="" />
                            <h4 class="size-14 nomargin noborder nopadding bold"><a href="#">{{user.username}}</a></h4>
                            <span class="size-12 text-muted">{{user.question_count}} 个问题, {{user.agree_count}} 次赞同</span>
                        </div><!-- /squared item -->
                        {%endfor%}

                    </div>
                </div>

                {%endif%}
             

            </div>


        </div>


    </div>
</section>
#}

<section style="padding: 0; border-bottom: none;">
    <a href="#"><img src="/static/assets/images/home_logo1.jpg" style="width: 100%;height: 100%;"></a>
</section>

{% endblock %}

{%block script%}
    <script type="text/javascript">
        /*jQuery(window).ready(function () {
            $("#destination ul#destination-ul").children("li").eq(0).addClass("col-md-3 col-sm-3 destination-item-1");
            $("#destination ul#destination-ul").children("li").eq(1).addClass("col-md-6 col-sm-6 destination-item-2");
            $("#destination ul#destination-ul").children("li").eq(2).addClass("col-md-3 col-sm-3 destination-item-3");
            $("#destination ul#destination-ul").children("li").eq(3).addClass("col-md-5 col-sm-5 destination-item-4");
            $("#destination ul#destination-ul").children("li").eq(4).addClass("col-md-2 col-sm-2 destination-item-5");
            $("#destination ul#destination-ul").children("li").eq(5).addClass("col-md-5 col-sm-5 destination-item-6");

            $("#studytour ul#studytour-ul").children("li").eq(0).addClass("col-md-7 col-sm-3 studytour-item-1");
            $("#studytour ul#studytour-ul").children("li").eq(1).addClass("col-md-5 col-sm-6 studytour-item-2");
            $("#studytour ul#studytour-ul").children("li").eq(2).addClass("col-md-5 col-sm-3 studytour-item-3");
            $("#studytour ul#studytour-ul").children("li").eq(3).addClass("col-md-7 col-sm-5 studytour-item-4");

            $("#community ul#community-ul").children("li").eq(0).addClass("col-md-4 col-sm-4 community-item-1");
            $("#community ul#community-ul").children("li").eq(1).addClass("col-md-4 col-sm-4 community-item-2");
            $("#community ul#community-ul").children("li").eq(2).addClass("col-md-4 col-sm-4 community-item-3");
            $("#community ul#community-ul").children("li").eq(3).addClass("col-md-12 col-sm-12 community-item-4");
        });*/

        var destination_page = 0;
        $("#destination-change").bind("click",function() {
            console.log("destination-change click");
            destination_page++;
            if(destination_page == 10)
                destination_page = 0;
            var data = "list&limit=6&cid=135&issub=1&ischild=1&type=level&page=" + destination_page;
            // $.post("http://180.168.129.230:8360/ajax/topic", "list&limit=6&cid=135&issub=1&ischild=1&type=level&page=" + destination_page, function(result) {
            //  console.log(result);
            //  $("#destination-ul").html(result);
            // }, "application/x-www-form-urlencoded");
            $.ajax({ 
                type: "POST", 
                url: "/ajax/topic",
                data: data,
                success: function(result){
                    console.log(result);
                } 
            });

        });
        // //文字过多改为+"..."
        // let sub = $(".nomargin");

        // //console.log(sub);

        // for(var i=0;i<sub.length;i++){
        // 	let arr = sub[i].innerHTML;
        // 	if(arr.length>23){
        // 		arr = arr.substring(0,23)+"......";
        // 	}
        // 	sub[i].innerHTML = arr;
        // }


        //绑定单击事件
        $(".heading-title").on("click","a",function(e){
        	if(e&&e.preventDefault)
        		e.preventDefault();
        	window.event.returnValues=false;
        	let id=$(this).attr("id")
        	if($(this).attr("id")=="community-change320"){
        		//var m = $("#community-ul320").siblings();
        		//console.log(m)
        		$("#community-ul320").css("display","block");
        		$("#community-ul320").siblings().css("display","none");
        	}else if($(this).attr("id")=="community-change321"){
        		$("#community-ul321").css("display","block");
        		$("#community-ul321").siblings().css("display","none");	
        	}else if($(this).attr("id")=="community-change322"){
        		$("#community-ul322").css("display","block");
        		$("#community-ul322").siblings().css("display","none");	
        	}else if($(this).attr("id")=="community-change323"){
        		$("#community-ul323").css("display","block");
        		$("#community-ul323").siblings().css("display","none");	
        	}else if($(this).attr("id")=="community-change324"){
        		$("#community-ul324").css("display","block");
        		$("#community-ul324").siblings().css("display","none");	
        	}else if($(this).attr("id")=="community-change325"){
        		$("#community-ul325").css("display","block");
        		$("#community-ul325").siblings().css("display","none");	
        	}else if($(this).attr("id")=="community-change326"){
        		$("#community-ul326").css("display","block");
        		$("#community-ul326").siblings().css("display","none");	
        	}else if($(this).attr("id")=="all"){
        		$("#community-ul326").css("display","block");
        		$("#community-ul326").siblings().css("display","block");	
        	}

        	let sub1 = $(".country-box>div");
        	var n=0;
        	for(var i=0;i<sub1.length;i++){
        		 if(sub1[i].style.display=="block"){
        		 	n++;
        		 }
        	}
        	if(n!==1){
               let m = $(".community-ul:odd").css("background","rgba(239,247,249,0.9)")
            }else{
                 
               $(".community-ul").css("background","#fff")
            }
   
        })


    </script>
{%endblock%}