{% extends "../inc/base.html" %}

{% block content %}
<style>
	#cont{
		width: 688px;
		height: auto;
		min-height:900px;
		background:#fff;
		margin: -43px auto;
		padding-right: 0px;
		padding-left: 0px;
		border: 2px solid #C9E3E2;
		filter:alpha(Opacity=90);-moz-opacity:0.9;opacity: 0.9;  /*IE FIREFOX CHROME*/

	}
	#sRow{
		margin-left: 0px;
		float:left;
		width:auto;
	}
	#colm{
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 0px;
		width:auto;

	}
	#sideNav{
		width: 95px;
		margin: 0px;
		margin-top: 16px;
		padding: 0px;
		float: left;
		text-align:center;
	}
	#sa{
		padding: 0px;
		margin: 0px;
		font-weight:bold;
		font-size: 15px;
		text-align: left; 
		border-bottom: 2px solid #C9E3E2;
	}
	#srank1{
		width:auto:;
		height:40px;
		border-bottom:2px solid #C9E3E2;
		font-size: 25px;
		font-weight: bolder;
	}
	#srank2{
		width:100%;
		mix-height:800px;
	}
	/* #sli{
		width: auto;
	} */
	#slili{
		width: auto;
		padding: 0px;
		margin: 0px;
	}
	.sect{
		width: 1350px;
		height: auto;
		padding: 0px;
		margin: 0px;
		border-bottom: none;
		background:url(static/assets/images/backgrounds/webpagebc.jpg);
	}
	.webpagebc{
		width:100%;
		visibility:hidden;
	}
	.ang1 {
	margin-top:  120px ;
	margin-left:  300px;
	

	}
	.ang2 {
		margin-top: 120px ;
		margin-left:  600px;
	}
	.ang3 {
		margin-bottom:  46px ;
		margin-left:  600px;
		margin-top: -45px;
	}
	.ang4 {
		margin-bottom:  46px ;
		margin-left:  300px;
		margin-top: -45px;
	}
	.suli a{
		width: 95px;
		margin: 0px;
		padding: 0px;
		text-indent:1em;
		text-align: left;
		border-bottom: 2px solid #C9E3E2;
	}
	.rank{
		float:left;
		min-height:1200px; 
		height: auto;
		width: 589px;
		padding: 0px;
		margin-left:15px;
		border-left: 2px solid #C9E3E2;
	}
	.srank{
		float:left;
		width:100%;
		height:auto;
	}
	.srankn{
		float:left;
		width:100%;
		height:auto;
		display: none;
	}
	.rank .srank .wangEditor-container .wangEditor-txt{
		margin:0px 15px 10px 15px;/*1*/
		
		height: auto;
	}
	.rank .srank .wangEditor-container .wangEditor-txt p {
		padding:0px;
		height: auto;
	}
	.rank .srank .wangEditor-container .wangEditor-txt p img{
		width:100% !important; 
	}
	a, a:focus:not(.btn),ul.side-nav ul li a:hover,ul.side-nav>li:hover>a, ul.side-nav>li a:hover {
		color: black;
		
	
	}
	/* ul.side-nav>li:hover>a{
		background-color: yellow;
		filter:alpha(Opacity=90);-moz-opacity:0.9;opacity:0.3;
	} */
	ul.side-nav ul li a:hover{
		filter:alpha(Opacity=90);-moz-opacity:0.9;opacity:0.999;
		background-color: #C4C4CB;
	}
	.bg{
		background-color: #C4C4CB;
	}
</style>
     
            
			<section class="sect">
			<!-- <img class="webpagebc" src="static/assets/images/backgrounds/webpagebc.jpg"> -->
				<img class="ang1" src="static/assets/images/angle1.png">
				<img class="ang2" src="static/assets/images/angle2.png">
				
				<div id="cont" class="container">
					<div class="row" id="sRow" ">
						<!-- LEFT -->
						<div class="col-md-9 col-sm-9" id="colm">
						<!--
                                controlls-over		= navigation buttons over the image
                                buttons-autohide 	= navigation buttons visible on mouse hover only

                                data-plugin-options:
                               		"singleItem": true
                                    "autoPlay": true (or ms. eg: 4000)
                                    "navigation": true
                                    "pagination": true
                                     "transitionStyle":"fadeUp" (fade,backSlide,goDown,fadeUp)
                        -->
                        
							<!-- side navigation -->
							<ul class="side-nav list-group" id="sideNav"> 
															
								{% column data="cates",cid=category.id%} 
								{%for val in cates%}
								
								<li id="sli" class="sli {% if http.action == 'publish' %}active{%endif%} ">   <!-- NOTE: "active" to be open on page load -->
									<a id="sa" data-toggle="collapse" data-parent="#sidebar-nav" href="#tab{{val.id}}" > 
										&nbsp;{{val.name}}&nbsp;
									</a>
									<ul id="tab{{val.id}}" class="margin-bottom-0 collapse in"  ><!-- NOTE: "collapse in" to be open on page load -->
										{% topic data = "list",limit= "10",cid=val.id, isstu=1 %}
										{% for val in list %}	
										{% set categoryname = val.category_id|get_cate %}
											<li class="suli" id="slili" >
												<a id="t{{ val.id }}" class="titleA {% if http.action == 'publish' %}text-danger{%endif%}" >{{val.title}}</a>
											</li>		                         
										{%endfor%}										
									</ul>									
								</li>								
								{%endfor%} 
							</ul>
						</div>
					</div>
					
					<!-- RIGHT -->
					
					<div class="rank">
						{% column data="cates",cid=category.id %} 
						{%for val in cates%}
						{% topic data = "list",limit= "10",cid=val.id, isstu=1 %}
							{% for val in list %}	
							{% set categoryname = val.category_id|get_cate %}							
								{% if val.id == 565 %}							
						<div id="s{{val.id}}" class="srank">
						
							<div id="srank1">
								&nbsp;&nbsp;{{val.title}}
							</div>
							<div  id="srank2" class="wangEditor-container cmswing-container">
								<div class="wangEditor-txt nopadding">
									{{val.content|safe}}									
								</div>									
							</div>							
						</div> 
								{%else%}
						<div id="s{{val.id}}" class="srankn" >
						
							<div id="srank1" >
								&nbsp;&nbsp;{{val.title}}
							</div>
							<div  id="srank2" class="wangEditor-container cmswing-container " >
								<div  class="wangEditor-txt nopadding" style="margin:0px 15px 10px 15px">
									{{val.content|safe}}
								</div>									
							</div>
							
						</div> 		
								{% endif %}
							{%endfor%}
						{%endfor%}
					</div>
				</div>
				
				<img class="ang4" src="static/assets/images/angle4.png">
				<img class="ang3" src="static/assets/images/angle3.png">
			</section>

			<section style="padding: 0; border-bottom: none;">
				<img src="static/assets/images/home_logo1.jpg" style="width:1350px;height:143;">
			</section>
			
{% endblock %}
{% block script %}			
<script type="text/javascript">
	$(".suli").on("click","a",function(){
		//show content
		var tId = $(this).attr("id");
		var sId = "s"+tId.substring(1,4);
		$("#"+sId).show();
		$("#"+sId).siblings().css("display","none");
		//onclick change bacground-color
		$(this).parent("li").siblings().removeClass("bg");
		$(this).parent("li").parent("ul").parent("li").parent("ul").children().children().children().removeClass("bg");
		$(this).parent("li").addClass("bg");
		//onclick realize  columns collapse
		$(this).parent("li").parent("ul").parent("li").parent("ul").children().children().removeClass("in");
		$(this).parent("li").parent("ul").addClass("in");
	})
	
	$(".sli").on("click","a",function(){
		/*$(this).parent("li").parent("ul").children("li").children("ul").removeClass("in");*/
		$(this).parent("li").parent("ul").parent().children().children("li").children("ul").removeClass("in");
	})

</script>
{% endblock %}