{% extends "../inc/base.html" %}
{% block content %}
{%set cate = category.id|get_cate()%}
<style type="text/css">
.home-search-bar{
	background: url('/static/assets/images/search_bar.png') no-repeat; 
	position: absolute; 
	left: 50%; 
	bottom: 40px; 
	height: 50px; 
	width: 414px; 
	z-index: 100; 
	margin-left: -207px;
}
.ctr{
	width: 984px; 
	height: auto;
	margin-top:60px; 
	padding: 0px;
}
.phb{
	padding:0px;
	margin:0px auto;
	/* background-color: greenyellow; */
	width:904px;
	height:85px;
	font-size: 25px;
	color: #fff;
	background: url('/static/assets/images/search_nav.png') no-repeat; 
	
}
.phb li{
	width: 226px;
	height: 85px;
	margin-right:-7px;
	padding:0px;
	text-align: center;


}
.phb li a{
	margin-top: 12px;
    width: 180px;
	
}
.phb:hover{
    cursor: pointer;

}
.phb li:hover div{
    background-color: #fff;
}
.linea{
	height: 3px;
	width: 180px;
	background-color: #896B63;
	margin:0px auto;
}
/* .lineb{
    height: 3px;
    width: 180px;
    background-color: #896B63;
    margin:0px auto;
} */
.table>tbody>tr>td{
    padding: 5px;
    border-top: 0px solid #ddd;
}
.page-header ul.page-header-tabs>li>a{
	color: #fff;
}
.tct{
	width: 904px;
	padding: 0; 
	margin: 20px auto;


}
</style>
    <!--
    PAGE HEADER

    CLASSES:
    .page-header-xs = 20px margins
    .page-header-md = 50px margins
    .page-header-lg = 80px margins
    .page-header-xlg= 130px margins
    .dark           = dark page header

    .shadow-before-1    = shadow 1 header top
    .shadow-after-1     = shadow 1 header bottom
    .shadow-before-2    = shadow 2 header top
    .shadow-after-2     = shadow 2 header bottom
    .shadow-before-3    = shadow 3 header top
    .shadow-after-3     = shadow 3 header bottom
    -->
    <!-- SLIDER -->
    <section id="slider" class="" style="height: 560px;background-position: center center">
        <span class="overlay dark-2"><!-- dark overlay [0 to 9 opacity] --></span>

        <div class="display-table">
            <div class="display-table-cell vertical-align-middle">

                <!-- REVOLUTION SLIDER -->
                <div class="slider fullwidthbanner-container roundedcorners margin-bottom-30">
                    <div class="fullwidthbanner" data-height="560" data-shadow="3" data-navigationStyle="">
                        <ul class="">
                            <!-- SLIDE  -->
                            <li data-transition="fade" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" >
                                <img src="/static/assets/images/slider_search.jpg" data-lazyload="/static/assets/images/slider_search.jpg" alt="" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat" />

                            </li>
                            
                        </ul>
                        <div class="tp-bannertimer"><!-- progress bar --></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="home-search-bar">
            
        </div>

    </section>

    <!-- /SLIDER -->
    <section class="page-header page-header-xs " style="background-color: #fff;">
        <div class="ctr container">

           

            <!-- page tabs -->
        
            <ul class="phb page-header-tabs list-inline margin-bottom-0 margin-top-70" >

                <!--<li class="active"><a href="portfolio-masonry-3-columns.html">With Gutter</a></li>-->
                <!-- Version 2.0 -->
                <li class="cgy" data-msg="search{{http.config('view.file_ext')}}?q={{queryword}}&value={{val.id}}">
                    <a href="javascript:;" >
                        学校 
                    </a>
                    <div class="linea"></div>
                </li>
                <li class="cgy"><a href="javascript:;">游学</a><div class="linea" style="background-color: #fff;"></li>
                <li class="cgy"><a href="javascript:;">游记攻略</a><div class="linea"></li>
                <li class="cgy"><a href="javascript:;">问答</a><div class="linea"></li> 

               <!-- Version 1.0  
               <li class="cgy"><a href="search{{http.config('view.file_ext')}}?q={{queryword}}&value={{val.id}}" >学校</a><div class="linea"></div></li>
               <li class="cgy"><a href="search{{http.config('view.file_ext')}}?q={{queryword}}&value={{val.id}}">游学</a><div class="linea" style="background-color: #fff;"></li>
               <li class="cgy"><a href="search{{http.config('view.file_ext')}}?q={{queryword}}&value={{val.id}}">游记攻略</a><div class="linea"></li>
               <li class="cgy"><a href="search{{http.config('view.file_ext')}}?q={{queryword}}&value={{val.id}}">问答</a><div class="linea"></li>
               --> 



               <!--  <li  class="active" style="width: 226px;height: 85px;margin-right:-6px;padding:0px;background-color: pink;text-align: center;font-size: 28px;"><a href="search{{http.config('view.file_ext')}}?q={{queryword}}&value={{val.id}}">游学</a></li>
               <li style="width: 226px;height: 85px;margin-right:-6px;padding:0px;background-color: red;text-align: center;font-size: 28px;"><a href="search{{http.config('view.file_ext')}}?q={{queryword}}&value={{val.id}}">游记攻略</a></li>
               <li  style="width: 226px;height: 85px;margin-right:-6px;padding:0px;background-color: grey;text-align: center;font-size: 28px;"><a href="search{{http.config('view.file_ext')}}?q={{queryword}}&value={{val.id}}">问答</a></li> -->
            </ul>
      
            <!-- /page tabs -->

            

            <!-- 分类信息
            {%if sort%}
            {%if sort.types|length ==1%}
            <ul class="nav nav-tabs">
                {%for val in sort.types%}
                <li class="{%if sortid == val.enable%}active{%endif%}"><a href="search{{http.config('view.file_ext')}}?value={{cate.id}}-{{order}}-{{group_id}}-{{val.enable}}" >{{val.name}}</a></li>
                {%endfor%}
            
            </ul>
            {%endif%} -->
            <div class="tct tab-content table-bordered" style="">
            <table class="table table-hover  m-b-none" style="margin-top: -1px">
                <tbody>
                    {% set typenum = 1%}
                    {%for val in typevar%}
                    {%if val.search > 1%}
                    <!-- <tr {% if typenum > 3 %} class="type_tr_m"  style="display:none"{%endif%} > -->
                    <tr  class="type_tr_m"  >
                        <td style="width: 120px" class="text-right">
                            {{val.option.title}}:
                        </td>
                        <td>
                            {%if 0 == nsobj[val.option.identifier] or null == nsobj[val.option.identifier]%}
                            <span class="btn btn-danger btn-xs relative">全部</span>
                            {%else%}
                            <a href="search{{http.config('view.file_ext')}}?q={{queryword}}&value={{cate.id}}-{{order}}-{{group_id}}-{{sortid}}-{{0|sort_url(val.option.identifier,typevar,nsobj)}}" class="btn btn-clean btn-xs relative" >全部</a>
                            <!-- <a href="javascript:;" class="aclick btn btn-clean btn-xs relative"  data-mesage="search{{http.config('view.file_ext')}}?q={{queryword}}&value={{cate.id}}-{{order}}-{{group_id}}-{{sortid}}-{{0|sort_url(val.option.identifier,typevar,nsobj)}}">全部2</a> -->
                            {%endif%}

                            {%for v in val.rules %}
                            {%if v.id|sort_act(nsobj[val.option.identifier])%}
                            <span class="btn btn-danger btn-xs relative" >{{v.name}}{{val.option.unit}}</span>
                            {%else%}
                            <a href="search{{http.config('view.file_ext')}}?q={{queryword}}&value={{cate.id}}-{{order}}-{{group_id}}-{{sortid}}-{{v.id|sort_url(val.option.identifier,typevar,nsobj)}}" class="btn btn-clean btn-xs relative" >{{v.name}}{{val.option.unit}}</a>
                            <!-- <a href="" class="aclick btn btn-clean btn-xs relative"  data-mesage="search{{http.config('view.file_ext')}}?q={{queryword}}&value={{cate.id}}-{{order}}-{{group_id}}-{{sortid}}-{{v.id|sort_url(val.option.identifier,typevar,nsobj)}}">{{v.name}}{{val.option.unit}}</a> -->
                            {%endif%}
                            {%endfor%}
                            <!--子栏目-->
                            {%for v in val.rules %}
                            {%if v.id|sort_act(nsobj[val.option.identifier])%}
                                {% if v.children%}
                                    <div class="subtsm">
                                        {%if v.id == nsobj[val.option.identifier] %}
                                        <span class="btn btn-danger btn-xs relative">全部</span>
                                        {%else%}
                                        <a href="search{{http.config('view.file_ext')}}?q={{queryword}}&value={{cate.id}}-{{order}}-{{group_id}}-{{sortid}}-{{v.id|sort_url(val.option.identifier,typevar,nsobj)}}" class="btn btn-clean btn-xs relative" >全部</a>
                                        {%endif%}

                                        {% for v_ in v.children %}  
                                        {%if v_.id|sort_act(nsobj[val.option.identifier])%}
                                        <span class="btn btn-danger btn-xs relative" >{{v_.name}}{{val.option.unit}}</span>
                                        {%else%}
                                        <a href="search{{http.config('view.file_ext')}}?q={{queryword}}&value={{cate.id}}-{{order}}-{{group_id}}-{{sortid}}-{{v_.id|sort_url(val.option.identifier,typevar,nsobj)}}" class="btn btn-clean btn-xs relative">{{v_.name}}{{val.option.unit}}</a>
                                        {%endif%}
                                        {% endfor %}
                                    </div>
                                {%endif%}
                            {%endif%}
                            {%endfor%}
                            <!--子栏目-->
                            {%for v in val.rules %}
                            {%if v.id|sort_act(nsobj[val.option.identifier])%}
                            {% if v.children%}

                            {% for v_ in v.children %}
                            {%if v_.id|sort_act(nsobj[val.option.identifier])%}
                            {% if v_.children%}
                            <div class="subtsm">
                                {% for v__ in v_.children %}

                                {%if v__.id|sort_act(nsobj[val.option.identifier])%}

                                <span class="btn btn-danger btn-xs relative" >{{v__.name}}{{val.option.unit}}</span>
                                {%else%}
                                <a href="search{{http.config('view.file_ext')}}?q={{queryword}}&value={{cate.id}}-{{order}}-{{group_id}}-{{sortid}}-{{v__.id|sort_url(val.option.identifier,typevar,nsobj)}}" class="btn btn-clean btn-xs relative" >{{v__.name}}{{val.option.unit}}</a>

                                {%endif%}
                                {%endfor%}
                            </div>
                            {%endif%}
                            {%endif%}
                            {% endfor %}

                            {%endif%}
                            {%endif%}
                            {%endfor%}
                        </td>

                    </tr>
                    {% set typenum = typenum+1%}
                    {%endif%}
                    {%endfor%}

                </tbody>
            </table>
            <!-- {% if typenum > 4%}
            <a href="javascript:;" class="center-block btn btn-xs btn-white type_tr_b1" style="border-top: 1px solid #cfd8e1; display: block"><span class="fa fa-chevron-down"></span></a>
            <a href="javascript:;" class="center-block btn btn-xs btn-white type_tr_b2" style="border-top: 1px solid #cfd8e1; display: none"><span class="fa fa-chevron-up"></span></a>
            {%endif%} -->
        </div>
            {%endif%}
            <!--/分类信息-->
            <!--正文信息-->
            <div class="row txtbd" style="width: 924px; margin:0px 5px;">

                <!-- LEFT -->
                <div class="col-md-9 col-sm-9" style="margin-right: 25px;margin-left: 25px;width: 904px;height: auto;">
                {#
                    <div class="text-left">
                        <ul class="nav nav-pills mix-filter">

                        <li class="filter {%if group_id==0%}active{%endif%}"><a href="search{{http.config('view.file_ext')}}?q={{queryword}}&value={{cate.id}}">全部</a></li>
                            {% groups data="groups",cid=category.id%}
                            {%for v in groups%}
                            <li class="filter {%if group_id==v.id%}active{%endif%}"><a href="search{{http.config('view.file_ext')}}?q={{queryword}}&value={{cate.id}}-{{order}}-{{v.id}}{%if sort%}-{{sortid}}{%endif%}{%if sorturl %}-{%endif%}{{sorturl}}">{{v.name}}</a></li>
                            {%endfor%}
                        </ul>
                        <!--投稿按钮-->
                        <div class="btn-group btn-group-sm pull-right" >
                            
                                {%if model|length > 1 %}
                                <ul class="dropdown-menu">

                                    {% for val in modellist%}
                                    <li> <a href="/uc/publish/add/model_id/{{val.id}}/pid/0/cate_id/{{cate.id}}/group_id/{{group_id}}/sortid/{{sortid}}"
                                        class="text-info">添加{{val.title}}</a></li>
                                        {% endfor %}

                                        <!--<li class="divider"></li>-->
                                        <!--<li><a href="#">添加内容</a></li>-->
                                </ul>
                                    {% endif %}
                         </div>                               
                    </div>
                    #}
                         {% for val in list %}
                             {% set categoryname = val.category_id|get_cate %}
                             <!-- POST ITEM -->
                             <div class="blog-post-item padding-bottom-15 margin-bottom-20 clearfix" style="width:904px;height: 150px;border-bottom: 0px;">
                                <!-- IMAGE -->
                                {% if val.cover_id>0 %}
                                <figure class="blog-item-small-image margin-bottom-0">
                                    <img class="img-responsive" src="{{val.cover_id|get_pic('m=1,w=200,h=120')}}" alt="" style="width: 233px;height: 150px;">
                                </figure>
                                {% endif %}
                                <div class="blog-item-small-content" style="background-color:#FAFAFA;padding-left: 274px;">
                                    <h2 style="font-size: 18;">
                                        <a style="width:100%;" href="{{val.name|get_url(val.id)}}" target="_blank" title="{{val.title}}">{{val.title}} <span style="color:skyblue;position: absolute;right: 0px;">¥{{val.price|get_price('1')}}/人起</span></a>
                                    </h2>

                                <p>{{val.description|truncate(90, true, "...")}}</p>
                          
                            </div>
                        </div>
                        <!-- /POST ITEM -->
                    {%endfor%}


                       <!--  PAGINATION(分页)
                       <div class="text-left">
                           Pagination Default
                           {{pagination | safe}} 
                           /Pagination Default
                       </div>
                       /PAGINATION -->

                        
                        <div class="text-center" style="margin-bottom: 30px;">
                            <a href="#" style="text-decoration-color: #8a8e9f;font-size: 18;">加载更多</a>
                        </div>

                    </div>

                   <!--  RIGHT
                   
                   <div class="col-md-3 col-sm-3">
                       INLINE SEARCH
                       <div class="inline-search clearfix margin-bottom-10">
                           <form action="" method="get" class="widget_search">
                               <input type="search" placeholder="Start Searching..." id="s" name="s" class="serch-input">
                               <button type="submit">
                                   <i class="fa fa-search"></i>
                               </button>
                           </form>
                       </div>
                       /INLINE SEARCH
                   
                       <hr />
                   
                       side navigation
                       {%column data="cates",cid=category.id,isnum="0"%}
                       {%if cates==null%}
                       <div class="side-nav margin-bottom-20 margin-top-20">
                           <div class="side-nav-head">
                               <button class="fa fa-bars"></button>
                               <h4>{{category.title}} 子分类</h4>
                           </div>
                           <ul class="list-group list-group-bordered list-group-noicon uppercase">
                               {%for val in cates%}
                               <li class="list-group-item"><a href="{{val.id}}{{http.config('view.file_ext')}}"><span class="size-11 text-muted pull-right">({{val.doc_num}})</span> {{val.name}}</a></li>
                               {%endfor%}
                           </ul>
                           /side navigation
                       </div>
                       {%endif%}
                   </div> -->
                </div>

            

        </div>
    </section>

    <!-- /PAGE HEADER -->

    <!-- PEANUT ROLL -->   
    <section style="padding:0; border-bottom:none;">
		<img src="static/assets/images/home_logo1.jpg" style="width:1350px;height:143;">
	</section>
    <!-- /PEANUT ROLL -->

    {% endblock %}

{% block script %}	
<script>
    $(".cgy").on("click",function(){
        /*div change color*/
         //console.log($(this));
        $(this).siblings().children("div").css("background-color","#896B63");
        $(this).children("div").css("background-color","#fff");


        /*var msg = $(this).attr("data-msg");
        console.log(msg);
        $.ajax({
        	type:"get",
        	url:"",
        	success:function(){}
        })*/

        /*example*/
        //1.获取参数
       /* var id = $(this).attr("data-recommend-id");
        console.log(id);
        //2.对应ACTION 返回数据
        $.ajax({
            type:"get",
            url:"/mod/question/ajax/ajaxrecommend/cmd/0/id/"+id,
            success:function (data) {
                if (data.errno==0) {
                        _toastr(data.data.name,"top-right","success",false);
                        addhtml(id)
                }else{

                        _toastr(data.errmsg,"top-right","error",false);

                }
            }
        })
*/
        //AJAX END

    });

   /* $(".aclick").on("click",function(){
    	var mesage = $(this).attr("data-mesage");
    	console.log("mesage:"+mesage);
    	$.ajax({
    		type:"get",
    		url:"/topic/search/index/"+mesage,
    		success:function(){
    			console.log("ajax ok");
    		}
    	})
    });*/

</script>
{% endblock %}
