{% extends "../../topic/inc/base.html" %}
{% block style %}
<link href="/static/assets/css/layout-question.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
{%set cate = category.id|get_cate()%}

<style type="text/css">
.page_header{
    width: 1350px;
    height:445px ;
    background:url(static/assets/images/backgrounds/communitybc.jpg) 50% 50% / cover no-repeat;
}
section#destination {
    background-color: transparent;
    padding: 0px 0px 0px 0px;
    border: 0px;
}
img.img-responsive {
    width: 100%;
    height: 272px;
}
.row {
    margin-left: 0px;
    margin-right: 0px;
}
#destination ul#destination-ul .destination-item-1 {
    width: 37.5%;
    padding-left: 0px;
    padding-right: 5px;
    height: 272px;
}
#destination ul#destination-ul .destination-item-2 {
    width: 25%;
    padding-left: 5px;
    padding-right: 5px;
    height:272px;
}
#destination ul#destination-ul .destination-item-3 {
    width: 37.5%;
    padding-left: 5px;
    padding-right: 0px;
    height: 272px;
}
.portfolio .item-box-overlay-title h4 {
    font-size: 20px;
}
.portfolio header {
    height: 60px;
}
.portfolio header h3 {
    font-size: 34px;
    float: left;
    color: #62605e;
}
.portfolio header a {
    margin-top: 20px;
    float: right;
    font-size: 13.5px;
    color: #565656
}
.thumbnail{
    border:0px;
}

section.content-section{
	/* background-color: #EFF7F9; */
}
.phb{
    padding:0px;
    margin-left:0px;
    width:740px;
    height:85px;
    font-size: 25px;
    color: #fff;
    background: url('/static/assets/images/search_nav.png') no-repeat;  
}
.phb li{
    width: 246px;
    height: 85px;
    margin-right:-7px;
    padding-top:30px;
    text-align: center;
}
.phb li a,.phb li a:link,.phb li a:visited,.phb li a:hover,.phb li a:active{
    color:#fff !important;
}

.phb:hover{
    cursor: pointer;
}
.phb li:hover div{
    background-color: #fff !important;
}
.linea{
    height: 3px;
    width: 235px;
    background-color: #896B63;
    margin:0px auto;
}
.strategy{
	width: 740px;
	min-height:400px;
	padding-top: 21px;
	padding-left: 39px; 
	/* margin-left: 10px !important; */
}
.qsn-awr{
	/* background-color: pink; */
	width: 740px;
	min-height:400px;
	display: none;
	/* margin-left: 10px !important;  */
	padding-top: 21px;
	padding-left: 39px;
}
.community{
	width: 700px;
	min-height:400px;
	display: none;
}
.search_bt{
	width:80px; 
	margin-left: 20px;
}
.search-box{
	width: 600px;
	height: 50px;
}
.country-box{
	padding-left: 39px;
}
#community ul#community-ul .community-item-1 {
    padding-left: 0px;
    padding-right: 6px;
    height: 434px;
}
#community ul#community-ul .community-item-2 {
    padding-left: 6px;
    padding-right: 6px;
    height: 434px;
}
#community ul#community-ul .community-item-3 {
    padding-left: 6px;
    padding-right: 0px;
    height: 434px;
}
#community ul#community-ul .community-item-4 {
    padding-left: 0px;
    padding-right: 0px;
    height: 514px;
}
.clear:after{
	content:"";
	display:table;;
	clear:both;
}
.heading-title a,.community-ul li a{
	color:#403d39;
	font-size:15.5px;
}
.community-ul li{
	padding:0;
}   
.community-ul>li>div{
	background:transparent;
}

.title_country,.title_country a{
	color:#403d39;
	font-size:18.5px;
	margin-bottom:22px;
	margin-top:21px;
	/* margin-left: 19.5px; */
}
/* .country-box ul:nth-child(even){
	background:rgba(239,247,249,0.9);
} */
.nav_noboder{
	border: 0px;
}
.co{
	padding: 0px;
	margin:0px;
} 
.blog_post_item{
	border: 0px;
}
.figure_float{
	display: inline;
	float:left;
}
.immg{
	width: 233px;height: 150px;
}
.blog_item_content{
	display: inline-block;
	width: 420px;
	margin-left: 40px;
}
.qa_blog_congtent{

	display: inline-block;
	width: 650px;
	margin-left: 40px;
}
.blog_item_content h2{
	font-size: 18px;
	color:#121212;
}
.blog_item_content p{
	text-indent: 1em;
}
ul#studytour-ul{
	list-style-type:none; 
}
ul#studytour-ul li .item-box-overlay-title h4 {
	font-size: 12px;
}
ul#studytour-ul li .item-box {
	box-shadow: none;
}
</style>
<!--
PAGE HEADER

CLASSES:
.page-header-xs = 20px margins
.page-header-md = 50px margins
.page-header-lg = 80px margins
.page-header-xlg= 130px margins
.dark           = dark page header

.shadow-before-1    = shadow 1 header top
.shadow-after-1     = shadow 1 header bottom
.shadow-before-2    = shadow 2 header top
.shadow-after-2     = shadow 2 header bottom
.shadow-before-3    = shadow 3 header top
.shadow-after-3     = shadow 3 header bottom
-->
<section class="page_header page-header page-header-xs" >
    
</section>
    

<!-- 热门 -->
<section class="alternate" id="destination">
    <div class="container portfolio" style="width:1008px">
        <header class="section-header margin-bottom-0">
            <div class="heading-title">
                <h3>热门</h3>
                <a href="###" id="destination-change">换一换 <img src="/static/assets/images/change.png"></a>
            </div>
        </header>
        <div  class=" portfolio-title-over">
            <div class="row mix-grid">
                <ul id="destination-ul" style="padding-left: 0px;">
                    
                    {% hotrecommend data = "lis", limit= "3", issub=1, ischild=1, page=0 %}
                    {%set i = 1%}
                    {% for v in lis %}
                
                    <li class="mix development col-md-3 col-sm-3 destination-item-{{i}}"><!-- item -->
                
                        <div class="item-box thumbnail">
                        <a href="{{v.name|get_url(v.id)}}">
                            <figure>
                                <span class="item-hover">
                                    <span class="overlay dark-5"></span>
                                    {#
                                    <span class="inner">
                
                                        <!-- lightbox -->
                                        <a class="ico-rounded lightbox" href="/static/dome/s_wenzhang.jpg" data-plugin-options='{"type":"image"}'>
                                            <span class="glyphicon glyphicon-qrcode size-20"></span>
                                        </a>
                
                                        <!-- details -->
                                        <a class="ico-rounded" href="/wenzhangceshi" target="_blank">
                                            <span class="glyphicon glyphicon-option-horizontal size-20"></span>
                                        </a>
                
                                    </span>
                                    #}
                                </span>
                
                                <!-- overlay title -->
                                <div class="item-box-overlay-title" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
                                    <h4 class="nomargin">{{v.title}}</h4>
                                </div><!-- /overlay title -->
                                {% if i == 1 or i == 3 %}
                                <img class="img-responsive" src="{{v.cover_id|get_pic('m=1,w=307,h=457')}}"  alt="">
                                {% elif i == 2 %}
                                <img class="img-responsive" src="{{v.cover_id|get_pic('m=1,w=506,h=457')}}"  alt="">
                                {% elif i == 4 or i == 6 %}
                                <img class="img-responsive" src="{{v.cover_id|get_pic('m=1,w=438,h=319')}}"  alt="">
                                {% elif i == 5 %}
                                <img class="img-responsive" src="{{v.cover_id|get_pic('m=1,w=244,h=319')}}"  alt="">
                                {% endif %}
                            </figure>
                        </a>
                        </div>
                
                    </li><!-- /item -->
                    {% set i = i + 1 %}
                    {% endfor %}
                
                </ul>

            </div>
        </div>
        <!--
        <div class="more-info text-center margin-top-20">
            <a href="/youxue{{http.config('view.file_ext')}}">点击查看更多》</a>
        </div>-->

    </div>
</section>
<!-- / -->

 
{#
{%column data="column",pid=breadcrumb[0].id%}

{%if column|length >0%}

<!-- /PAGE HEADER -->
<section class="padding-bottom-0">
    <div class="container">

        <div class="row">

            {%for val in column%}
            <div class="col-md-3">

                <a class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large box-icon-content {%if val.id == category.id %}active{%endif%}" href="{{val.url}}{{http.config('view.file_ext')}}" style="padding-top: 35px">
                    <div class="box-icon-title">
                        {%if val.icon%}<i><img class="thumbnail rounded" src="{{val.icon|get_pic('m=0')}}" style="width: 65px;height: 65px; margin-top: -1px;margin-left: -1px"></i>{%else%}<i class="et-chat"></i>{%endif%}
                        <h4 class="nomargin">{{val.name}}</h4>
                    </div>
                    <p class="nomargin" style="height: 44px;overflow: hidden">{{val.description|truncate(30, true, "...")}}</p>
                </a>

            </div>
            {%endfor%}

        </div>


    </div>
</section>
{%endif%}
#}

<!-- -->
<section class="content-section">
	
	<div class=""><!-- main content -->
	
		<div class="right_content" style="float:right;width:262px;height: 600px;margin-top:90px;margin-right:156px;">
			<div class="col-md-11 col-sm-11">
		        {% if controller.is_login %}
		        <div class="margin-bottom-20"><!-- INFO -->
		            <a href="/mod/question/sys/add/cid/{{category.id}}" class="btn btn-primary btn-3d btn-block margin-top-10"><i class="fa fa-sign-in"></i>我要提问</a>
		        </div>
		        {%else%}
		        <div class="margin-bottom-20">
		            <a class="btn btn-block btn-social btn-dropbox margin-top-10" href="/uc/public/login">
		                <i class="fa fa-sign-in"></i> 登录{{controller.setup.WEB_SITE_TITLE}}
		            </a>
		        </div>
		        {%endif%}
		        
		        {#
		        <!-- INLINE SEARCH -->
		        <div class="inline-search clearfix margin-bottom-20">
		            <form action="" method="get" class="widget_search">
		                <input type="search" placeholder="Start Searching..." id="s" name="s" class="serch-input">
		                <button type="submit">
		                    <i class="fa fa-search"></i>
		                </button>
		            </form>
		        </div>
		        <!-- /INLINE SEARCH -->
				
		        <!-- side navigation -->
		        {%column data="cates",cid=category.id,isnum="0"%}
		        {%if cates==null%}
		        <div class="side-nav margin-bottom-20 margin-top-20">
		            <div class="side-nav-head">
		                <button class="fa fa-bars"></button>
		                <h4>{{category.title}} 子分类</h4>
		            </div>
		            <ul class="list-group list-group-bordered list-group-noicon uppercase">
		                {%for val in cates%}
		                <li class="list-group-item"><a href="{{val.url}}{{http.config('view.file_ext')}}"><span class="size-11 text-muted pull-right">({{val.doc_num}})</span> {{val.name}}</a></li>
		                {%endfor%}
		            </ul>
		            <!-- /side navigation -->
		        </div>
		        {%endif%}
		        
		        <div class="box-inner nopadding">
		            <h3>
		                <a class="pull-right size-11 text-warning" href="/topic">更多</a>
		                热门话题
		            </h3>
		            <div class="" >
		                {% keywords data ="topic",type="hot",limit="5",mod=model.id %}
		                {%for k in topic%}
		                <div class="clearfix margin-bottom-10"><!-- discussion item -->
		                    {%if k.pic==0%}
		                    <i class="ico-light ico-60 ico-hover et-chat pull-left margin-bottom-0 margin-top-0" ></i>
		                    {%else%}
		                    <img class="thumbnail pull-left" src="/static/assets/images/demo/people/300x300/4-min.jpg" width="60" height="60" alt="" />
		                    {%endif%}
		                    <h4 class=" nomargin noborder nopadding bold"><a class="tag " href="{{k.url}}">
		                        <span class="txt">{{k.keyname}}</span>
		                        <span class="num"><i class="fa fa-fire"></i></span>
		                    </a>
		                    </h4>
		                    <span class="size-13 text-muted">
		                        {{k.videonum}} 个主题, {{k.focus_count}} 人关注
		                                        </span>
		                </div><!-- /discussion item -->
		                  {%endfor%}


		            </div>
		        </div>
		        
		        <hr />
		        {%model data="data",table="question_user",cache='1000',order="question_count DESC",alias="a",limit="10",join='{"member": {"join": "left","as":"b","on": ["a.uid", "b.id"]}}'%}
		        {%if data.length>0%}
		        <div class="box-inner nopadding">
		            <h3>
		                <a class="pull-right size-11 text-warning" href="#">更多</a>
		                热门用户
		            </h3>
		            <div class="" >
		               {%for user in data%}
		                <div class="clearfix margin-bottom-10"><!-- squared item -->
		                    <img class="thumbnail pull-left rounded" src="/uc/index/avatar/uid/{{user.uid}}" width="40" height="40" alt="" />
		                    <h4 class="size-14 nomargin noborder nopadding bold"><a href="#">{{user.username}}</a></h4>
		                    <span class="size-12 text-muted">{{user.question_count}} 个问题, {{user.agree_count}} 次赞同</span>
		                </div><!-- /squared item -->
		               {%endfor%}

		            </div>
		        </div>
		        <hr />
		        {%endif%}


		        <!-- SOCIAL ICONS  -->
		        <div class="hidden-xs margin-top-30 margin-bottom-60">
		            <a href="#" class="social-icon social-icon-border social-facebook pull-left" data-toggle="tooltip" data-placement="top" title="Facebook">
		                <i class="icon-facebook"></i>
		                <i class="icon-facebook"></i>
		            </a>
		        
		            <a href="#" class="social-icon social-icon-border social-twitter pull-left" data-toggle="tooltip" data-placement="top" title="Twitter">
		                <i class="icon-twitter"></i>
		                <i class="icon-twitter"></i>
		            </a>
		        
		            <a href="#" class="social-icon social-icon-border social-gplus pull-left" data-toggle="tooltip" data-placement="top" title="Google plus">
		                <i class="icon-gplus"></i>
		                <i class="icon-gplus"></i>
		            </a>
		        
		            <a href="#" class="social-icon social-icon-border social-linkedin pull-left" data-toggle="tooltip" data-placement="top" title="Linkedin">
		                <i class="icon-linkedin"></i>
		                <i class="icon-linkedin"></i>
		            </a>
		        
		            <a href="#" class="social-icon social-icon-border social-rss pull-left" data-toggle="tooltip" data-placement="top" title="Rss">
		                <i class="icon-rss"></i>
		                <i class="icon-rss"></i>
		            </a>
		        </div>
		        #}
		        <div style="height: 200px;">
		        	<div style="background:url('/static/assets/images/search_nav.png') no-repeat;width:220px;height:85px;margin-bottom: 15px;padding-left: 60px;padding-top: 23px; ">
						<h3 class="bold" style="color: #fff;font-size:24px;">专属推荐</h3>
		        	</div>
					<ul id="studytour-ul" style="padding-left: 0px;">
						{% topic data = "lst", limit= "3", cid=130, issub=1, ischild=1, type="level", page=0 %}
						{%set i = 1%}
						{% for v in lst %}

						<li class="mix development col-md-12 col-sm-12" style="padding: 0; margin-bottom: 14px;"><!-- item -->

							<div class="item-box thumbnail">
							<a href="{{v.name|get_url(v.id)}}">
								<figure>
									<div class="col-lg-6 col-sm-6" style="padding: 0;">
										<img class="img-responsive" style="height: 72px;" src="{{v.cover_id|get_pic('m=1,w=134,h=72')}}"  alt="">
									</div>
									<div class="col-lg-6 col-sm-6" style="padding: 0;">
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											{#
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="/static/dome/s_wenzhang.jpg" data-plugin-options='{"type":"image"}'>
													<span class="glyphicon glyphicon-qrcode size-20"></span>
												</a>

												<!-- details -->
												<a class="ico-rounded" href="/wenzhangceshi" target="_blank">
													<span class="glyphicon glyphicon-option-horizontal size-20"></span>
												</a>

											</span>
											#}
										</span>

										<!-- overlay title -->
										<div class="item-box-overlay-title text-center">
											<h4 class="nomargin">{{v.title}}</h4>
										</div><!-- /overlay title -->

									</div>
								</figure>
							</a>
							</div>

						</li><!-- /item -->
						{% set i = i + 1 %}
						{% endfor %}

					</ul>
		        </div>
		    </div>
		
		</div>

	    <div class="container portfolio " style="background-color:transparent; ">
			<header class="section-header margin-bottom-0">
		    	<div class="heading-title margin-bottom-0">
		        	<h3>社区</h3>
		        </div>
		    </header>
	        <ul class="phb page-header-tabs list-inline margin-bottom-0 margin-top-70" id="phb">
	            <li class="cgy" id="select1" ><a class="aaa" href="javascript:;">游记攻略</a><div class="linea" style="background-color: #fff;"></li>
	            <li class="cgy" id="select2"><a href="javascript:;">问答</a><div class="linea"></li>
	            <li class="cgy" id="select3"><a href="javascript:;">社区版块</a><div class="linea" ></li> 
	        </ul>
			
	        <div class="strategy row"  id="page1">
	        	<!-- 搜索框-->
				<div class="search-box" style="margin-bottom: 15px;">
					<form action="/search" method="get" class="widget_search">
	                    <input type="search" placeholder="  搜索游记攻略" name="q" {% if queryword %} value={{queryword}} {%endif%}class="serch-input" style="color: black;width: 430px;height: 50px;font-size:18px;border: 3px solid #95734D;">
	                    <button type="submit" style="background-color:#1EB6C1;color: #fff;width:120px;height: 50px;margin-left: 20px;font-size:18px;  ">
	                        搜    索
	                    </button>
	                </form>
				</div>
				<!--/搜索框-->			
	            <!-- LEFT -->
	            <div class="co col-md-12 col-sm-9" >               
	                <div class="">
	                    {% for val in list %}
	                    {% set categoryname = val.category_id|get_cate %}
	                    {% if val.imgs|length >= 1 %}
	                    <!-- POST ITEM -->
	                    <div class="blog_post_item blog-post-item blog-post-item-inverse padding-top-10 padding-bottom-10 margin-bottom-0 clearfix" >
	                        <!-- IMAGE -->
	                        <figure class="figure_float margin-bottom-0" >
	                            <img class="immg" src="{{val.imgs[0]}}" alt="">
	                        </figure>
	                       
	                        <div class="blog_item_content blog-item-small-content">
								<p>&nbsp;</p>
	                            <h2><a href="/mod/question/{{val.id}}{{http.config('view.file_ext')}}" title="{{val.title}}">{{val.title}}</a></h2>
	                            {#
	                            <ul class="blog-post-info list-inline padding-bottom-10">
	                                <li>

	                                    <a class="" href="{{categoryname.url}}">
	                                        <span class="label label-light">{{categoryname.name}}</span>
	                                    </a>
	                                </li>
	                                <li>
	                                	{%if val.answer_users>0%}
	                                    <a href="#">
	                                        <span class="font-lato">{{val.answer_users|get_nickname}}</span>
	                                    </a>
	                                    <span class="font-lato"> 回复了帖子</span>
	                                    {%else%}
	                                    <a href="#">
	                                        <span class="font-lato">{{val.uid|get_nickname}}</span>
	                                    </a>
	                                    <span class="font-lato"> 发起了帖子</span>
	                                    {%endif%}
	                                </li>
	                                <li>
	                                <span class="font-lato">
	                                {{val.focus_count}} 人关注
	                                    </span>
	                                </li>
	                                <li>
	                                    <span class="font-lato">{{val.answer_count}} 个回复</span>

	                                </li>
	                                <li>
	                                    <span class="font-lato">{{val.view}} 次浏览</span>
	                                </li>
	                                <li>
	                                    <span class="font-lato"> {{val.update_time|moment}}</span>
	                                </li>

	                            </ul>
	                           
	                            {% if val.imgs|length>1 %}
	                            <div class="row margin-bottom-10">
	                                {%set i = 0%}
	                                {%for img in val.imgs%}
	                                {%if i< 4 %}
	                                <div class="col-md-3"><img class="img-responsive" src="{{img}}" alt=""></div>
	                                {%endif%}
	                                {%set i=i+1%}
	                                {%endfor%}
	                            </div>
	                            {%endif%}
	                             #}
	                            <p>{{val.detail|delhtmltags|truncate(90, true, "...")|safe}}</p>
	                        </div>
	                    </div>
	                    <!-- /POST ITEM -->
	                    {% endif %}
	                    {%endfor%}

	                </div>
	                
	                
	                <!-- PAGINATION -->
	                <div class="text-left margin-top-20">
	                    <!-- Pagination Default -->
	                 	 {{pagination | safe}}
	                    <!-- /Pagination Default -->
	                </div>
	                <!-- /PAGINATION -->
	                {#
					<!-- PAGINATION -->
	                <div class="text-center margin-top-20 margin-bottom-20">
	                    <!-- Pagination Default -->
	                 	 <a href="javascript:;">点击加载更多</a>
	                    <!-- /Pagination Default -->
	                </div>
	                <!-- /PAGINATION -->
	                #}
	            </div>
				<!-- /LEFT -->
				
				{#
				<div class="col-md-3 col-sm-3">
		        {% if controller.is_login %}
		        <div class="alert alert-info margin-bottom-20"><!-- INFO -->
		            今天，你遇到了什么问题呢？
		            <a href="/mod/question/sys/add/cid/{{category.id}}" class="btn btn-primary btn-3d btn-block margin-top-10">提问</a>
		        </div>
		        {%else%}
		        <!-- <div class="alert alert-info margin-bottom-20"> --><!-- INFO -->
		        <div class="alert alert-info margin-bottom-20">
		            你好! 你还没有登录，请先登录.
		            <a class="btn btn-block btn-social btn-dropbox margin-top-10" href="/uc/public/login">
		                <i class="fa fa-sign-in"></i> 登录{{controller.setup.WEB_SITE_TITLE}}
		            </a>
		        </div>
		        {%endif%}   
		   		</div>
		   		#}

	        </div>

	        <div class="qsn-awr" id="page2"> 
	        	<!-- 搜索框-->
				<div class="search-box" style="margin-bottom: 15px;">
					<form action="/search" method="get" class="widget_search">
	                    <input type="search" placeholder="  问答" name="q" {% if queryword %} value={{queryword}} {%endif%}class="serch-input" style="color: black;width: 430px;height: 50px;font-size:18px;border: 3px solid #95734D;">
	                    <button type="submit" style="background-color:#1EB6C1;color: #fff;width:120px;height: 50px;margin-left: 20px;font-size:18px;  ">
	                        搜    索
	                    </button>
	                </form>
				</div>
				<!--/搜索框-->
				<!-- 筛选框-->
				<div>
	                <ul class="nav_noboder nav nav-tabs nav-bottom-border" style="height: 0px;">
	                    <li class="{%if order ==0%}active{%endif%}"><a href="{{cate.url}}{{http.config('view.file_ext')}}" >最新的</a></li>
	                    <li class="{%if order ==1%}active{%endif%}"><a href="{{cate.url}}-1{%if group_id%}-{{group_id}}{%endif%}{{http.config('view.file_ext')}}" >最热的</a></li>
	                    <li class="{%if order ==2%}active{%endif%}"><a href="{{cate.url}}-2{%if group_id%}-{{group_id}}{%endif%}{{http.config('view.file_ext')}}" >推荐的</a></li>
	                    <li class="{%if order ==3%}active{%endif%}"><a href="{{cate.url}}-3{%if group_id%}-{{group_id}}{%endif%}{{http.config('view.file_ext')}}" >等待回复</a></li>
	                </ul>
				</div>
	             <!--/筛选框-->
	              <!-- LEFT -->
	            <div class="co col-md-12 col-sm-9" >               
	                <div class="" style="overflow: hidden;">
	                    {% for val in list %}
	                    {% set categoryname = val.category_id|get_cate %}
	                    {% if val.imgs|length < 1 %}
	                    <!-- POST ITEM -->
	                    <div class="blog-post-item blog-post-item-inverse padding-top-10 padding-bottom-10 margin-bottom-0 clearfix" style="border: #eee 1px solid;margin-top: 20px;" >
	                       
	                      
	                        <div class="qa_blog_congtent blog-item-small-content">
	                            <ul class="blog-post-info list-inline padding-bottom-10" style="border: 0px;">
	                                <!-- <li>
	                                
	                                    <a class="" href="{{categoryname.url}}">
	                                        <span class="label label-light">{{categoryname.name}}</span>
	                                    </a>
	                                </li> -->

	                                <li>
	                                	<a href="#"><img src="/uc/index/avatar/uid/{{val.uid}}" style="width: 58px;height: 58px; margin-top:5px"></a>
	                                	{%if val.answer_users>0%}
	                                    <a href="#">
	                                        <span class="font-lato">{{val.answer_users|get_nickname}}</span>
	                                    </a>
	                                    <span class="font-lato"> 回复了帖子</span>
	                                    {%else%}
	                                    <a href="#">
	                                        <span class="font-lato">{{val.uid|get_nickname}}</span>
	                                    </a>
	                                    <span class="font-lato"> 发起了帖子</span>
	                                    {%endif%}
	                                </li>
	                                <!-- <li>
	                                <span class="font-lato">
	                                	{{val.focus_count}} 人关注
	                                </span>
	                                </li> -->
	                                <li>
	                                    <span class="font-lato">{{val.answer_count}} 个回复</span>

	                                </li>
	                                <li>
	                                    <span class="font-lato">{{val.view}} 次浏览</span>
	                                </li>
	                                <li>
	                                    <span class="font-lato"> {{val.update_time|moment}}</span>
	                                </li>

	                            </ul>
	                           	{#
	                            {% if val.imgs|length>1 %}
	                            <div class="row margin-bottom-10">
	                                {%set i = 0%}
	                                {%for img in val.imgs%}
	                                {%if i< 4 %}
	                                <div class="col-md-3"><img class="img-responsive" src="{{img}}" alt=""></div>
	                                {%endif%}
	                                {%set i=i+1%}
	                                {%endfor%}
	                            </div>
	                            {%endif%}
	                            #}
	                            <p>&nbsp;</p>
	                            <h2><a href="/mod/question/{{val.id}}{{http.config('view.file_ext')}}" title="{{val.title}}">{{val.title}}</a></h2>
	                            <p>{{val.detail|delhtmltags|truncate(90, true, "...")|safe}}</p>
	                        </div>
	                    </div>
	                    <!-- /POST ITEM -->
	                    {% endif %}
	                    {%endfor%}

	                </div>
	                
	               
	                <!-- PAGINATION -->
	                <div class="text-left margin-top-20">
	                    <!-- Pagination Default -->
	                 	 {{pagination | safe}}
	                    <!-- /Pagination Default -->
	                </div>
	                <!-- /PAGINATION -->
	                {#
					<!-- PAGINATION -->
	                <div class="text-center margin-top-20 margin-bottom-20">
	                    <!-- Pagination Default -->
	                 	 <a href="javascript:;">点击加载更多</a>
	                    <!-- /Pagination Default -->
	                </div>
	                <!-- /PAGINATION -->
	                 #}
	            </div>
				<!-- /LEFT -->
	        </div>

	        <div class="community" id="page3"> 
				<!-- 国家 -->
			    <div class="portfolio">
			    	{% topic data = "list", limit= "200", cid=135, issub=1, isstu=1, pid=0, type="level", page=0 %}
			        <div  class=" portfolio-title-over">
			            <div class="row mix-grid country-box">
			            	{% for v in list %}
			                <ul id="community-ul{{v.id}}" style="padding-left: 0px;" class="clear community-ul">
			                	<div class="title_country">
									<a href="">
										{{v.title}} 
									</a>
			                	</div>
			                    {% topic data = "list", limit= "200", cid=135, pid=v.id,type="none",page=0 %}
			                    {% for v in list %}
			                    <li class="mix development col-xs-6 col-sm-3 destination-item-{{i}}"><!-- item -->
			          
			                        <div class="item-box thumbnail">
			                        <a href="/youxue-0-0-17-tourdest_{{v.place_id}}|tourfeature_0|tourtype_0|tourmonth_0{{http.config('view.file_ext')}}">
			                            {{v.title}}
			                        </a>
			                        </div>
			                    </li><!-- /item -->
			                    {% endfor %}

			                </ul>
			                {% endfor %}

			            </div>
			        </div>
			        <!--
			        <div class="more-info text-center margin-top-10">
			            <a href="/question">点击查看更多》</a>
			        </div>-->

			    </div>
				<!-- / -->	
	        </div>

	    </div><!-- container div-->

	</div><!-- /main content -->
	
</section>


<!-- PEANUT ROLL -->   
<section style="padding:0; border-bottom:none;">
	<img src="static/assets/images/home_logo1.jpg" style="width:1350px;height:143;">
</section>
<!-- /PEANUT ROLL -->
{% endblock %}
{% block script %}  
<script>
     $(".cgy").on("click",function(){
        $(this).siblings().children("div").css("background-color","#896B63");
        $(this).children("div").css("background-color","#fff");
        var selectId = $(this).attr("id");
        var pId = selectId.split("select")[1];
        console.log(pId);
        for (var i = 1; i <= 3; i++) {
            if(i!=pId){
                $("#page"+i).css("display","none");
            }
        }   
        $("#page"+pId).css("display","block");
        console.log($("#page"+pId));
    });
</script>
{% endblock %}
