<div id="header" class="sticky translucent clearfix header-md ">
	<!--
				AVAILABLE HEADER CLASSES

				Default nav height: 96px
				.header-md 		= 70px nav height
				.header-sm 		= 60px nav height

				.noborder 		= remove bottom border (only with transparent use)
				.transparent	= transparent header
				.translucent	= translucent header
				.sticky			= sticky header
				.static			= static header
				.dark			= dark header
				.bottom			= header on bottom

				shadow-before-1 = shadow 1 header top
				shadow-after-1 	= shadow 1 header bottom
				shadow-before-2 = shadow 2 header top
				shadow-after-2 	= shadow 2 header bottom
				shadow-before-3 = shadow 3 header top
				shadow-after-3 	= shadow 3 header bottom

				.clearfix		= required for mobile menu, do not remove!

				Example Usage:  class="clearfix sticky header-sm transparent noborder"
			-->
			<!-- TOP NAV -->
			
			<header id="topNav">
				<div class="container" style="width: 1178px;">

					<!-- Mobile Menu Button -->
					<button class="btn btn-mobile" id="sidepanel_btn" >
						<i class="fa fa-bars"></i>
					</button>

					<div class="col-md-4 col-sm-4" style="">
						<!-- Logo -->
						<a class="logo pull-left" href="/">
							<img src="/static/assets/images/logo.png" alt="" />
						</a>

						<h4 class="letter-spacing-1 pull-right">欢迎登录</h4>

					</div>
				</div>
			</header>
			<!-- /Top Nav -->

		</div>
